/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: serif;
  font-family: "Cuprum", sans-serif;
  /*   font-family: 'PT Sans', sans-serif; */
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.logo {
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EE3643;
  max-width: 220px;
  width: 100%;
  position: relative;
}
.logo::after {
  content: "";
  width: 100%;
  background-color: #de1321;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
}

.header {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #293449;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header__search input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  background-color: transparent;
}
.header__search input::-webkit-input-placeholder {
  color: #fff;
}
.header__search input::-moz-placeholder {
  color: #fff;
}
.header__search input:-ms-input-placeholder {
  color: #fff;
}
.header__search input::-ms-input-placeholder {
  color: #fff;
}
.header__search input::placeholder {
  color: #fff;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.header__btn {
  color: inherit;
  background-color: #63A63E;
  border: none;
  padding: 9px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 26px;
}

.bookmark {
  margin-right: 50px;
}

.intro {
  background-color: #F1F5F7;
  padding: 35px 0 60px 0;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 67px;
}
.intro__head {
  color: #EE3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  max-width: 198px;
}
.intro__tel p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
}
.intro__tel-link {
  margin-bottom: 3px;
  gap: 16px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 50px 7px 40px;
  border: 3px solid #fff;
}
.intro__tel-link a {
  color: #EE3643;
  text-decoration: none;
}
.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.intro__btns button {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  border: none;
  background-color: #fff;
  padding: 12px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__btns button img {
  margin-right: 5px;
}

.nav {
  background-color: #32425C;
  -webkit-box-shadow: inset 0px -5px 0px #293449;
          box-shadow: inset 0px -5px 0px #293449;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  display: block;
  padding: 16px 25px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}
.nav ul li:hover {
  background-color: #293449;
}
.nav ul li:active {
  background-color: #1D2739;
  opacity: 0.5;
}

.btn-all {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  background-color: #EE3643;
  text-align: center;
  display: block;
  line-height: 38px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.new::before {
  content: "NEW";
  line-height: 30px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 5px;
  right: -27px;
  width: 100px;
  height: 30px;
  background-color: #EE3643;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.grid {
  margin: 60px 0;
}
.grid__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.grid__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid__list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.grid__list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid__list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.grid__list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.grid__list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.grid__list > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.grid__list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.grid__item {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 43px 20px 23px;
  position: relative;
  overflow: hidden;
}
.grid__item-right {
  font-size: 0;
}
.grid__item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  margin-bottom: 14px;
}
.grid__item span {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 38px;
  width: 135px;
  height: 38px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.grid__item:nth-child(1), .grid__item:nth-child(6) {
  background-color: #FFBF47;
}
.grid__item:nth-child(2) {
  background-color: #3BBCE3;
}
.grid__item:nth-child(3) {
  background-color: #DC91D8;
}
.grid__item:nth-child(5) {
  background-color: #8ED78F;
}
.grid__item:hover span {
  background-color: rgba(197, 197, 197, 0.3);
}
.grid__item:active span {
  background-color: rgba(169, 169, 169, 0.3);
}
.grid .swiper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: 100%;
}
.grid .swiper .swiper-button-next,
.grid .swiper .swiper-button-prev {
  color: #fff;
}
.grid .swiper .swiper-button-prev {
  left: 27px;
}
.grid .swiper .swiper-button-next {
  right: 30px;
}
.grid .swiper__btn {
  margin: 0 0 27px 24px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.grid .swiper__btn:hover {
  background-color: #CA2C37;
}
.grid .swiper__btn:active {
  background-color: #BA2732;
}
.grid .swiper .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid .swiper .slide-1 {
  background: url(../../image/slider/slide-1.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.grid .swiper .slide-2 {
  background: url(../../image/slider/slide-2.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.grid .swiper .slide-3 {
  background: url(../../image/slider/slide-1.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.grid .swiper .slider__top {
  padding: 23px 0 16px 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid .swiper .slider__head {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  margin-bottom: 5px;
}
.grid .swiper .slider__subhead {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.grid-lines {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid-lines.manufacturer {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: minmax(145px, 1fr) minmax(145px, 1fr);
  grid-template-rows: minmax(145px, 1fr) minmax(145px, 1fr);
}
.grid-lines.manufacturer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid-lines.manufacturer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.grid-lines.manufacturer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid-lines.manufacturer > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.grid-lines.manufacturer > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid-lines.manufacturer > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.grid-lines.manufacturer > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.grid-lines.manufacturer > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.popular {
  margin-bottom: 70px;
}
.popular__top {
  background-color: #F9F5F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 14px 25px 28px;
  margin-bottom: 20px;
}
.popular__top.basic {
  background-color: #F1F5F7;
}
.popular__head {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  color: #32425C;
}
.product {
  text-align: center;
  border: 1px solid #EAEAEA;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0 18px 21px 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.product__buttons {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product__buttons button {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  border-radius: 5px;
  height: 34px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.product__buttons button:first-child {
  background-color: #63A63E;
  color: #fff;
  gap: 10px;
  -webkit-box-shadow: inset 0px -3px 0px #367315;
          box-shadow: inset 0px -3px 0px #367315;
  margin-bottom: 10px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.product__buttons button:first-child:hover {
  background-color: #5FBB2D;
}
.product__buttons button:first-child:active {
  background-color: #518534;
}
.product__buttons button:last-child {
  color: #32425C;
  border: 3px solid #63A63E;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.product__buttons button:last-child:hover {
  border: 3px solid #32425C;
}
.product__buttons button:last-child:active {
  opacity: 0.5;
}
.product:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.product:hover .product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product:hover .product__image > img {
  display: none;
}
.product__image {
  margin-bottom: 8px;
  height: 164px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__image img {
  display: block;
}
.product__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
}
.product__price-old, .product__price-new {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: block;
  color: #A9A9A9;
  margin-bottom: 14px;
}
.product__price-new {
  border-radius: 5px;
  width: 141px;
  margin: 0 auto;
  display: block;
  height: 38px;
  line-height: 38px;
  color: #fff;
  background: #EE3643;
  -webkit-clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
}
.product-manufacture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.product-manufacture:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.product-manufacture:hover img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-manufacture:active {
  opacity: 0.3;
}

.services {
  background-color: #F1F5F7;
  padding-top: 64px;
  padding-bottom: 27px;
  overflow: hidden;
}
.services__title {
  margin-bottom: 25px;
}
.services__description {
  max-width: 400px;
  margin-bottom: 20px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.tabs__list {
  padding: 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  position: relative;
}
.tabs__list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background: url(../../image/shadow.png) no-repeat center center/cover;
  height: 100%;
}
.tabs__item {
  background: #32425C;
  color: #fff;
  padding: 14px 0 18px 22px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.tabs__item.active {
  background: #fff;
  color: #32425C;
}
.tabs__item:hover:not(.active) {
  background: #293449;
}
.tabs__contents {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.tabs__content {
  width: 100%;
  position: relative;
  display: none;
  padding-top: 50px;
}
.tabs__content h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  color: #32425C;
  margin-bottom: 30px;
}
.tabs__content p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  max-width: 300px;
  margin-bottom: 25px;
}
.tabs__content p.gua {
  max-width: 318px;
}
.tabs__content img {
  position: absolute;
  top: 50px;
  right: 0;
}
.tabs__content.active {
  display: block;
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.tabs__btn {
  border-radius: 5px;
  display: block;
  line-height: 38px;
  text-align: center;
}

.contacts {
  padding: 70px 0;
}
.contacts__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__list {
  margin-bottom: 8px;
}
.contacts__item {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 37px;
  margin-bottom: 12px;
  position: relative;
}
.contacts__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #EE3643;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contacts__about {
  max-width: 460px;
}
.contacts__about p + p {
  margin-top: 35px;
}
.contacts__about-btn {
  width: 220px;
}
.contacts__title {
  margin-bottom: 24px;
}
.contacts__info {
  max-width: 300px;
}
.contacts__info-description {
  max-width: 180px;
  margin-bottom: 32px;
}
.contacts__info-btn {
  width: 100%;
}
.contacts__map {
  margin-bottom: 25px;
  height: 158px;
  cursor: pointer;
}
.contacts__map img {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.contacts__map:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 85% 60%;
          transform-origin: 85% 60%;
}
.map__close {
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: red;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.map.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__top {
  background-color: #32425C;
}
.footer__place {
  padding: 26px 0 54px 0;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__place > nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer__place > nav ul {
  margin: 0;
  padding: 0;
}
.footer__place > nav ul li {
  /* &:not(:last-child) {
    margin-right: 56px;
  } */
}
.footer__place > nav ul li a {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFBF47;
}
.footer__place > nav ul li a:hover {
  text-decoration: underline;
}
.footer__place > nav ul li a:active {
  opacity: 0.5;
}
.footer__place > nav ul li:hover {
  background-color: transparent;
}
.footer__logo {
  height: 64px;
}
.footer__nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer__nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding: 0;
}
.footer__nav ul li {
  /*  &:not(:last-child) {
    margin-right: 56px;
  } */
}
.footer__nav ul li a {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.footer__nav ul li a:hover {
  text-decoration: underline;
}
.footer__nav ul li a:active {
  opacity: 0.5;
}
.footer__nav ul li:hover {
  background-color: transparent;
}
.footer__bottom {
  background-color: #293449;
  padding: 35px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.footer__cop {
  max-width: 226px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.footer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.footer__parent p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.footer__parent p a {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  color: #FFBF47;
}
.footer__parent p a:active {
  color: #EE3643;
}

.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.soc__item {
  width: 44px;
  height: 44px;
  background-color: #212A3A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  cursor: pointer;
}
.soc__item:hover {
  background-color: #EE3643;
}

.bread-crumbs {
  padding: 20px 0;
}
.bread-crumbs__inner > *:not(:last-child) {
  margin-right: 15px;
}
.bread-crumbs__inner > * {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  color: #000;
}

.big-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.big-grid__options {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 220px;
          flex: 0 1 220px;
}
.big-grid__choose {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.big-grid__line {
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
  background-color: #F7F3EC;
  font-weight: 400;
  padding: 10px 18px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
}
.big-grid__line.opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}
.big-grid__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}
.big-grid__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  margin-right: 46px;
}
.big-grid__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.big-grid__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 48px;
}
.big-grid__products .product {
  max-width: 220px;
}
.big-grid__pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.big-grid__pagination ul button {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.big-grid__pagination ul button.active {
  background: #EE3643;
  color: #fff;
}
.big-grid__pagination ul li {
  margin-right: 10px;
}
.big-grid__pagination ul li:not(:last-child) button {
  width: 38px;
}
.big-grid__pagination ul li:last-child button {
  width: 140px;
}

.blocks__item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 16px;
}
.blocks__item-head {
  margin-bottom: 11px;
}
.blocks__item:not(:last-of-type) {
  border-bottom: 1px solid #c4c4c4;
}
.blocks__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 10px;
}
.blocks .line {
  width: 100%;
  height: 2px;
  background-color: #63A63E;
  position: relative;
}
.blocks__btn {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 0px 0 rgba(171, 171, 171, 0.3);
          box-shadow: 0 3px 0px 0 rgba(171, 171, 171, 0.3);
}
.blocks__btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #ABABAB;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blocks__btn:first-child {
  top: -9px;
  left: 0;
}
.blocks__btn:last-child {
  top: -9px;
  right: 20px;
}
.blocks__prices {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.blocks__prices span {
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
}
.blocks__prices input {
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f7f3ec;
  text-align: center;
  width: 100%;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}
.blocks__prices input::-webkit-outer-spin-button,
.blocks__prices input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.blocks__checkboxs {
  margin-bottom: 25px;
}
.blocks__radios {
  margin-bottom: 35px;
}
.blocks__more {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #E5E5E5;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background: url(../../image/checkbox-off.svg) no-repeat;
  margin-right: 0.5em;
}
.custom-checkbox:checked + label::before {
  background: url(../../image/choose.svg) no-repeat center;
}

.check {
  margin-bottom: 10px;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio + label {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.custom-radio + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #C5C5C5;
  border-radius: 50%;
  margin-right: 10px;
}
.custom-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #C5C5C5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-product {
  background-color: #F1F5F7;
  padding: 65px 0;
}
.about-product__title {
  margin-bottom: 25px;
}