.grid-lines {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  &.manufacturer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(145px, 1fr) minmax(145px, 1fr);
  }
}