.nav {
  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      a {
        display: block;
        padding: 16px 25px;
        @include p-2;
        text-decoration: none;
        color: $white;
      }
      &:hover {
        background-color: #293449;
      }
      &:active {
        background-color: #1D2739;
        opacity: 0.5;
      }
    }
  }
}