.soc {
  &__list {
    display: flex;
    column-gap: 4px;
  }
  &__item {
    width: 44px;
    height: 44px;
    background-color: #212A3A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s ease;
    cursor: pointer;
    &:hover {
      background-color: $basic-red;
    }
  }
}